<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Connection.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBAccess</servlet-name>
        <servlet-class>Connection.DBAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBAccess2</servlet-name>
        <servlet-class>Connection.DBAccess2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Connection.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>Connection.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendsController</servlet-name>
        <servlet-class>Connection.FriendsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDetailsController</servlet-name>
        <servlet-class>Connection.UpdateDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdDetailsController</servlet-name>
        <servlet-class>Connection.UpdDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBAccess</servlet-name>
        <url-pattern>/DBAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBAccess2</servlet-name>
        <url-pattern>/DBAccess2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendsController</servlet-name>
        <url-pattern>/FriendsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDetailsController</servlet-name>
        <url-pattern>/UpdateDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdDetailsController</servlet-name>
        <url-pattern>/UpdDetailsController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
