@charset "utf-8";

/* 
    Created on : 30-Mar-2014, 18:24:03
    Author     : James Vine
*/

/* CSS Document */

/********************************************/
/*                  General                 */
/********************************************/
body {
    height:100%;
    width:100%;
    margin: 0 0 0 0;
    background-color: #164f7d;
    color: white;
    font-family:Trebuchet MS;
}

a{
    text-decoration:none;
    color:#164f7d;
}

input {	
    text-decoration:none;
    color:#164f7d;
    font-size:12pt;
}


/********************************************/
/*                  Header                  */
/********************************************/

#header {
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: white;  
    font-size: 14pt;
    font-weight: bold;
    color: #164f7d;
}

#logo {
    position:relative;
    top:0px;
    left:0px;
}

#todays_date {
    float: right;
    margin: 20px 15px 0px 0px;
}

#time_now {
    margin: -45px 15px 0px 0px;
    float: right;
    text-align:right;
}

.vbuffer1 {
    width: 100%;
    height: 536px;
    background-color:#999999;
}

/********************************************/
/*           Background Transition          */
/********************************************/

/* 	To calculate transition:

        For "n" images You must define:
                a=presentation time for one image
                b=duration for cross fading
                t=total animation-duration calculated as t=(a+b)*n

                animation-delay = t/n or = a+b

        Percentage for keyframes:
        1.0%
        2.a/t*100%
        3.(a+b)/t*100% = 1/n*100%
        4.100%-(b/t*100%)
        5.100%

*/

@-webkit-keyframes bg_fade {
    0% {
        opacity:1;
    }
    10% {
        opacity:1;
    }
    16% {
        opacity:0;
    }
    94% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

#bg_transition img {
    position:fixed;
    top:100px;
    left:0px;
    width:1280px;
    max-height: 400px;
}

#bg_transition img {
    -webkit-animation-name: bg_fade;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 36s;
}

/* 	extend array to equal no. of images in transition
        set animation delay in gaps equal to presentation time (a)
*/

#bg_transition img:nth-of-type(1) {
    -webkit-animation-delay: 30s;
}

#bg_transition img:nth-of-type(2) {
    -webkit-animation-delay: 24s;
}

#bg_transition img:nth-of-type(3) {
    -webkit-animation-delay: 18s;
}

#bg_transition img:nth-of-type(4) {
    -webkit-animation-delay: 12s;
}

#bg_transition img:nth-of-type(5) {
    -webkit-animation-delay: 6s;
}

#bg_transition img:nth-of-type(6) {
    -webkit-animation-delay: 0s;
}

/********************************************/
/*                Login Bar                 */
/********************************************/

#login {
    position: absolute;
    top: 500px;
    left: 0px;
    background-color: #afafaf;
    width: 100%;
    height: 36px; 
    z-index: 100;
}

.large_text {
    left: 0px;
    width: 60px;
    background-color: white;
    font-size: 18pt;
    font-weight: bold;
    color: #164f7d;
    padding: 3px 10px 4px 10px;
    float: left;
}

.medium_text {
    font-size: 13pt;
    font-weight: normal;
    padding: 4px 40px 4px 20px;
    color: white;
    float: left;
}

#login input {
    margin-right: 50px;
}

#login a {
    margin-left: 70px;
}

.button-link {
    background: #666666;
    color:white;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    font-size: 11pt;
    font-weight: bold;
    padding-top: 2px;
}

.button-link:hover {
    background:#999999;
}

/********************************************/
/*              Footer Layout               */
/********************************************/
#footer {
    background-color: #164f7d;
    z-index: 1;
}

.buffer1 {
    width: 14%;
    height: 100px;
    float: left;
    margin: 0;
}

.buffer2 {
    width: 6%;
    height: 100px;
    float: left;
    margin: 0;
}

.buffer3 {
    width: 4%;
    height: 100px;
    float: left;
}

/********************************************/
/*               Footer Tabs                */
/********************************************/
.tabs {
    position: absolute;
    top: 536px;
    left: 0px;
    width: 100%;
    background-color: #164f7d;
}

span.anchor {
    position: fixed;
    display: none;
}

.panel div {
    opacity:0;
    background: white;
    position: absolute;
    top: -436px;
    left: 0px;
}

.panel .tab-link {
    float: left;
    opacity:1;
    width: 20%;
    text-align: center;
    text-decoration: none;
    color:white;
    box-sizing: border-box;
    font-size:14pt;
}

.anchor:target + .panel div {
    opacity: 1;
    z-index:1;
    background: #999999;
}

.anchor:target + .panel .tab-link {
    opacity:1;
}

.tab-link h1 {
    margin-top: 0px;
}

.tab-link img {
    margin-top: 10px;
}

.labels1 {
    height: 436px;
    width: 100%;
    overflow-x: hidden;
}

.labels1 img {
    position: absolute;
    top: 60px;
    left: 700px;
    padding: 0;
    z-index: 1;
}

.labels1 article {
    position: relative;
    top: 20px;
    left: 150px;
}

#about-ul {
    width: 118px;
    border-bottom-color: #164f7d;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#join-ul {
    width: 99px;
    border-bottom-color: #164f7d;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#roll-ul {
    width: 138px;
    border-bottom-color: #164f7d;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.labels1 p {
    width: 20%;
    min-width: 300px;
}

/********************************************/
/*                 Sign Up                  */
/********************************************/
.labels1 .signup {
    opacity: 0.80;
    position: absolute;
    top: 5px;
    left: 560px;
    color: #164f7d;
    background: white;
    padding: 0px 10px 0px 30px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5), -2px 2px 5px rgba(0,0,0,0.5);
    -webkit-transition: all 0.6s ease;
}

.signup h4, h2 {
    margin: 12px 0 0 0;
}

.button-link2 {
    padding: 8px 10px 8px 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#164f7d), color-stop(100%,#163249));
    color:white;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 5px;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
    opacity:1;
}

.button-link2:hover {
    background:#4670A8;
}

/********************************************/
/*              Roll of honour              */
/********************************************/
#uniroll {
    opacity:1;
    width:240px;
    height:250px;
    padding: 10px 10px 0px 10px;
    overflow:scroll;
    overflow-x:hidden;

}